/* All Pages CSS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
    /* background-color: gray; */
    background-image: url(background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 0; */
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif ;
    
}

main {
    margin: 10px;
}

.topnav {
    /* background-color: #cecece; */
    background-image:linear-gradient(to left,  rgb(9, 60, 125),rgb(36, 155, 209));
    overflow: auto;
    border-radius: 4px;
    font-family:sans-serif;
    position:static;
    margin: 10px;
    margin-bottom: 10px;
    opacity: 0.95;
    /* scroll-behavior: smooth; */
}

.topnav .logo {
    float: left;
    display: block;
    height: max-content;
    /* color: whitesmoke; */
    /* text-align: center; */
    /* padding: 14px 16px; */
    /* text-decoration: none; */
    /* font-size: 17px; */
}

.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: lightblue;
}

.topnav a.active {
    background-color: lightblue;
    color: black;
}

.nav-right {
    float: right;
}

.show {
    display: block;
}

/*index Page CSS */
#head {
    /* background-color: #1F7075;  */
    background-image:linear-gradient(to bottom,  rgb(9, 60, 125),rgb(36, 155, 209));
    /* background-color: rgb(9, 60, 125); */
    width: 100%;
    height: 45vh;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    overflow: hidden;
    margin-bottom: 20px;
    opacity: 0.9;
    border-radius: 3px;
    /* margin: 20px; */
}

#flex_container_head1 {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-grow: 7; */
    /* justify-content: center;  */
    align-items: flex-start;
    width: 77%;
    height: 93%;
    border-radius: 3px;
    /* background-color: rgb(36, 155, 209); */
    background-image:linear-gradient(to right,  rgb(255, 255, 255),rgb(36, 155, 209));
    /* flex-shrink: 0; */
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
}

#flex_container_head2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    /* margin-left: 0px; */
    /* position: relative; */
    align-items: center;
    width: 20%;
    height: 93%;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 3px;
    /* background-color: rgb(36, 155, 209); */
    background-image:linear-gradient(to left,  rgb(9, 60, 125),rgb(36, 155, 209));
    
}

#flex_container_head2 .box1 {
    display:flex;
    flex-direction: column;
    position: relative;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
    width: 85%;
    /* height: 30vh; */
    height: 100%;
    overflow-y: hidden;
    background-color: white;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    /* max-height: fit-content; */
}

#flex_container_head2 h3 {
    color: whitesmoke;
}

.box1 ul {
    height: inherit;
    position: relative;
    margin-bottom: 1px;
    
}

.box1 .primary {
    width: inherit;
    height: inherit;
    /* left: 0%; */
    top: 0%;
    bottom: 0%;
    position: absolute;
    margin: 0;
    width:90%;
    height: 20%;
    color: black;
    animation: primary 12s linear infinite;
    
    /* margin-bottom: 20px; */
}

#pause:hover{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes primary {
    from {
        top: 0%;
    }
    to {
        top: -100%;
    }
}


.head_item {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.head_item a{
    display: flex;
    justify-content: center; 
    align-items: center;
}

#head img {
    height: 50%;
    width: 60%;
}

#home_players {
    display: flex;
    width: 100%;
    height: 55vh;
    flex-direction: column;
    background-color:  rgb(36, 155, 209);
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    opacity: 0.98;
    border-radius: 3px;
}

#home_players h1{
    margin: 10px;
    margin-bottom: -30px;
    color: whitesmoke;
    margin: 20px;
    margin-top: 10px;
}

#flex_container_players {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90%;
    height: 70%;
    /* background-color: gray; */
    
}

/* #items_flex_container_players{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0% auto;
    overflow: hidden;
    flex-shrink: 0;
    scroll-behavior: smooth; 
    padding-right: 20px;
}

.item_players {
    position: inherit;
    left: 0%;
    top: 0%;
    flex-shrink: 0;
    width: 17%;
    height: 60%;
    margin: 34px;
} */

#items_flex_container_players{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    width: 48%;
    /* height: 19rem; */
    margin: 0% auto;
    overflow: hidden;
    flex-shrink: 0;
    scroll-behavior: smooth; 
    padding-right: 20px;
    
    /* background-color: darkgray;   */
}

.item_players {
    position: inherit;
    left: 0%;
    top: 0%;
    flex-shrink: 0;
    /* width: 17%; */
    /* width: inherit; */
    height: 60%;
    /* margin: 34px;  */
    animation: players 11s linear infinite;
    /* background-color: white; */
    
}

.item_players a{
    margin-right: 50px;
    text-decoration: none;
}

@keyframes players {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
} 

#pause_player:hover{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state: paused;
    cursor: pointer;
}

#flex_container_players  input {
    /* align-self: flex-end; */
    align-items: center;
    margin: 0px;
    /* background-color: white; */
    /* margin: auto; */
}

#home_shop {
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: column;
    background-color:  rgb(36, 155, 209);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    opacity: 0.95;
    border-radius: 3px;
}

#home_shop h1{
    margin: 10px;
    margin-bottom: -30px;
    color: whitesmoke;
    margin: 20px;
    margin-top: 10px;
}

#flex_container_shop {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: flex-start;
    width: 90%;
    height: 70%;
    /* background-color: gray; */
    margin-bottom: 40px;
}

#items_flex_container_shop {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 28rem;
    margin: 0 auto;
    overflow: hidden;
    /* flex-shrink: 0; */
    flex-grow: 0;
    scroll-behavior: smooth;  
    /* background-color: darkgray;   */
    
}

.item_shop {
    position: inherit;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 95%;
    margin: 20px;
    padding-right: -40px;
    /* padding-left: 40px; */
    /* background-color: gray; */
    text-align: center;
    color: whitesmoke;
    /* flex-shrink: 0; */
    /* background-color: white; */
}

#flex_container_shop  input {
    /* align-self: flex-end; */
    align-items: center;
    /* margin: 210px; */
    /* background-color: white; */
    /* margin: auto; */
}


#home_about_us {
    display: flex;
    background-color: white;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    background-image:linear-gradient(to bottom, rgb(36, 155, 209), rgb(9, 60, 125));
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    opacity: 0.95;
    border-radius: 3px;
}

#home_about_us h1{
    color: whitesmoke;
    margin: 20px;
    /* margin-top: 10px; */
    /* margin-bottom: -30px; */
}

footer {
    display: flex;
    background-image:linear-gradient(to top, rgb(36, 155, 209), rgb(9, 60, 125));
    width: 99%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    opacity: 0.98;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
    margin: 10px;  
    margin-bottom: 20px;
    color: whitesmoke;
}

footer a{
    color: whitesmoke;
}


/* All the other player css below */

#player_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:  rgb(36, 155, 209);
    border-radius: 5px;
    /* justify-content: space-between; */
    opacity: 0.9;
    border-radius: 3px;
    
}

#player_info h2{
    margin: 10px;
}

#personal_info {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: white;
    justify-content: center;
    align-items: center;
    align-self:flex-start;
    border-radius: 4px;
    width: 24%;
    height: 87vh;
    margin: 15px;
    margin-right: 5px;
    min-width: 0;
    border-radius: 3px;
}

#personal_info p{
    margin: 10px;
}

#statistics {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: gray;
    border-radius: 4px;
    /* align-items: center; */
    width: 86%;
    height: 87vh;
    overflow-y: auto;
    margin:15px;
    margin-left: 5px;
    color: whitesmoke;
    border-radius: 3px;
}

#statistics p{
    margin: 10px;
}

/* All players styles end*/

/* Ticket page css start */


/* Ticket page css end */

/* Each product page for shop*/
.details{
    /* background-color: lightblue;  */
    background-image:linear-gradient(to bottom,  rgb(9, 60, 125),rgb(36, 155, 209));
    /* background-color: rgb(9, 60, 125); */
    width: 100%;
    height: 90vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 20px;
    opacity: 0.97;
    border-radius: 3px;

}

.details .flex_product {
    display: flex;
    width: 60%;
    height: 93%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    color: whitesmoke;
    margin: 20px;
    margin-right: 0px;

}

.details .flex_product_1 {
    display: flex; 
    width: 50%;
    height: 63%;
    flex-direction: column;
    /* background-color: lightgray; */
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: 20px;
    margin-right: 0px;
    
}

.details .flex_product_2 {
    display: flex; 
    width: 45%;
    height: 58%;
    flex-direction: column;
    /* background-color: lightgrey; */
    background-color: rgb(36, 155, 209);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.details .flex_product_3 {
    display: flex; 
    height: 40%;
    flex-direction: column;
    /* background-color: lightslategray; */
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 17px;
}

.details .flex_product_4 {
    display: flex; 
    flex-direction: column;
    /* background-color: lightslategray; */
    justify-content: center;
    padding: 10px;
    margin: 5px;
    font-size: 17px;
}

.details .flex_product_5 {
    display: flex; 
    flex-direction: row;
    /* background-color: lightslategray; */
    justify-content: center;
    width: 40%;
    padding: 5px;
    margin: 10px;
}

.btn{
    width: 90%;
    /* padding: 20px; */
    border-radius: 5px;
    background: none;
    color: #383838;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
    margin: 5px;
    text-transform: capitalize;
}

.cart-btn{
    /* margin-right: 5%; */
    background: #383838;
    color: #fff;
    padding: 5px;
}

.counter_flex {
    border: 2px solid whitesmoke;
    border-radius: 6px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightblue;
}
  
.counter_flex .control {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 1 auto;
    overflow: hidden;
    scroll-behavior: smooth;
}
  
.counter_flex #display {
    padding: 5px;
    font-size: 17px;
}
  
.counter_flex button {
    min-width: 25px;
    border-radius: 5px;
    margin: 5px;
}

/*shop page css */
.shop{
    /* background-color: lightblue;  */
    background-image:linear-gradient(to bottom,  rgb(9, 60, 125),rgb(36, 155, 209));
    /* background-color: rgb(9, 60, 125); */
    width: 100%;
    height: 83.4vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 15px;
    opacity: 0.97;
    border-radius: 3px;
}

.shop_container1 {
    width: 20%;
    height: 80vh;
    background-color: lightgray;
    margin-right: 10px;
    /* margin: 10px; */
    /* margin-left: 5px; */
    overflow-y: hidden;
}

.shop_container1 li {
    font-size: 20px;
    margin-bottom: 20px;
    /* text-align:center; */
}

.shop_container1 a{
    text-decoration: none;
    color: black;
}


.shop_container2 {
    width: 77%;
    height: 80vh;
    background-color: lightgray;
    /* margin: 2px; */
    overflow-y: auto;
    text-align: center;
}

.items_shop {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: darkgrey; */
    width: 260px;
    margin: 8px;
    margin-right: 25px;
    /* margin: 5px; */
}

#shop_row_1 {
    display: flex;
    width: 97%;
    height: 37vh;
    margin: 20px;
    background-color: grey;
    margin-bottom: -5px;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}

.shop_container2 s {
    color: yellow;
}

#shop_row_2 {
    display: flex;
    width: 97%;
    height: 40vh;
    margin: 20px;
    background-color: gray;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: -5px; */
}

#shop_row_3 {
    display: flex;
    width: 97%;
    height: 40vh;
    margin: 20px;
    background-color: gray;
    justify-content: space-evenly;
    align-items: center;
}

#shop_row_4 {
    display: flex;
    width: 97%;
    height: 40vh;
    margin: 20px;
    background-color: gray;
    justify-content: space-evenly;
    align-items: center;
}

#shop_row_5 {
    display: flex;
    width: 97%;
    height: 40vh;
    margin: 20px;
    background-color: gray;
    justify-content: space-evenly;
    align-items: center;
}





/* Error 404 page*/
.four-0-four {
    justify-content: center;
    align-self: center;
}

.four0four {
    justify-content: center;
    align-self: center;
    /* background-color: #1F7075;  */
    background-image:linear-gradient(to bottom,  rgb(9, 60, 125),rgb(36, 155, 209));
    /* background-color: rgb(9, 60, 125); */
    width: 100%;
    height: 90vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
    opacity: 0.9;
}

.four-0-four-image{
    display: flex;
    /* margin: 10% auto; */
}

.four-0-four-msg{
    text-align: center;
    text-transform: capitalize;
    color: whitesmoke;
}

.four-0-four-msg a{
    color: whitesmoke;
}

.four-0-four-msg a:hover{
    color: blue;
}


  

/* @keyframes primary {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

  @keyframes secondary {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
} */


/* #item4, #item5 {
    align-self: flex-end;
} */

/* p .item-container{
    flex-wrap: wrap;
} */

/* * { give me error for login popup
    box-sizing: border-box;
  } */

/* @media screen and (max-width: 400px) {
    .nav a {
      float: none;
      width: 100%;
    }
    .nav-right a {
        float: none;
        width: 100%;
    }
} */

/* @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
 */




/* .wrapper-center {
    margin-right: auto;
    margin-left: auto;
    max-width: 1160px;
    padding-right: 10px;
    padding-left: 10px;
    
} */