/* All Pages CSS */
html,
body {
    /* background-color: gray; */
    background-image: url(background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 0; */
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    
}

main {
    
    margin: 10px;
}

.topnav {
    /* background-color: #cecece; */
    background-image:linear-gradient(to left,  rgb(9, 60, 125),rgb(36, 155, 209));
    overflow: auto;
    border-radius: 4px;
    font-family:sans-serif;
    position:static;
    margin: 10px;
    margin-bottom: 20px;
    opacity: 0.9;
    /* scroll-behavior: smooth; */
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: lightblue;
}

.topnav a.active {
    background-color: lightblue;
    color: black;
}

.nav-right {
    float: right;
}

.show {
    display: block;
}

/*index Page CSS */
#head {
    /* background-color: #1F7075;  */
    background-image:linear-gradient(to bottom,  rgb(9, 60, 125),rgb(36, 155, 209));
    /* background-color: rgb(9, 60, 125); */
    width: 100%;
    height: 45vh;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    overflow: hidden;
    margin-bottom: 20px;
    opacity: 0.9;
    /* margin: 20px; */
}

#flex_container_head1 {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-grow: 7; */
    /* justify-content: center;  */
    align-items: flex-start;
    width: 77%;
    height: 93%;
    /* background-color: rgb(36, 155, 209); */
    background-image:linear-gradient(to right,  rgb(9, 60, 125),rgb(36, 155, 209));
    /* flex-shrink: 0; */
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
}

#flex_container_head2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    /* margin-left: 0px; */
    position: relative;
    align-items: center;
    width: 20%;
    height: 93%;
    overflow-y: hidden;
    /* background-color: rgb(36, 155, 209); */
    background-image:linear-gradient(to left,  rgb(9, 60, 125),rgb(36, 155, 209));
    
}

#flex_container_head2 .box1 {
    /* background-color: white; */
    display:flex;
    flex-direction: column;
    position: relative;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
    width: 85%;
    /* height: 30vh; */
    height: 100%;
    overflow-y: hidden;
    background-color: white;
    /* max-height: fit-content; */
}

#flex_container_head2 h3 {
    color: white;
}

.box1 ul {
    height: inherit;
    position: relative;
    margin-bottom: 1px;
    
}

.box1 .primary {
    width: inherit;
    height: inherit;
    /* left: 0%; */
    top: 0%;
    bottom: 0%;
    position: absolute;
    animation: primary 12s linear infinite;
    margin: 0;
    width:90%;
    height: 20%;
    color: black;
    /* margin-bottom: 20px; */
}

@keyframes primary {
    from {
        top: 0%;
    }
    to {
        top: -100%;
    }
}
/* 
@keyframes secondary {
    from {
        top: 100%;
    }
    to {
        top: 0%;
    }
} */


.head_item {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.head_item a{
    display: flex;
    justify-content: center; 
    align-items: center;
}

#head img {
    height: 50%;
    width: 60%;
}

#home_players {
    display: flex;
    width: 100%;
    height: 55vh;
    flex-direction: column;
    background-color:  rgb(36, 155, 209);
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    opacity: 0.90;
}

#home_players h1{
    margin: 10px;
    margin-bottom: -30px;
    color: white;
    margin: 20px;
    margin-top: 10px;
}

#flex_container_players {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90%;
    height: 70%;
    /* background-color: gray; */
    
}

#items_flex_container_players{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    width: 50%;
    /* height: 19rem; */
    margin: 0% auto;
    overflow: hidden;
    flex-shrink: 0;
    scroll-behavior: smooth; 
    padding-right: 20px;
    /* background-color: darkgray;   */
}

.item_players {
    position: inherit;
    left: 0%;
    top: 0%;
    flex-shrink: 0;
    width: 17%;
    height: 60%;
    margin: 34px;
    /* background-color: white; */
    
}

#flex_container_players  input {
    /* align-self: flex-end; */
    align-items: center;
    margin: 0px;
    /* background-color: white; */
    /* margin: auto; */
}

/* All the other player css below */

#player_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:  rgb(36, 155, 209);
    border-radius: 5px;
    /* justify-content: space-between; */
    opacity: 0.9;
    
}

#player_info h2{
    margin: 10px;
}

#personal_info {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: white;
    justify-content: center;
    align-items: center;
    align-self:flex-start;
    border-radius: 4px;
    width: 24%;
    height: 87vh;
    margin: 15px;
    margin-right: 5px;
    min-width: 0;
}

#personal_info p{
    margin: 10px;
}

#statistics {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: gray;
    border-radius: 4px;
    /* align-items: center; */
    width: 86%;
    height: 87vh;
    overflow-y: scroll;
    margin:15px;
    margin-left: 5px;
    color: white;
}

#statistics p{
    margin: 10px;
}


/* All players styles end*/

#home_shop {
    display: flex;
    width: 100%;
    height: 55vh;
    flex-direction: column;
    background-color:  rgb(36, 155, 209);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    opacity: 0.9;
}

#home_shop h1{
    margin: 10px;
    margin-bottom: -30px;
    color: white;
    margin: 20px;
    margin-top: 10px;
}

#flex_container_shop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 90%;
    height: 85%;
    /* background-color: gray; */
    margin-bottom: 30px;
}

#items_flex_container_shop {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 21rem;
    margin: 0 auto;
    overflow: hidden;
    /* flex-shrink: 0; */
    flex-grow: 0;
    scroll-behavior: smooth;  
    /* background-color: darkgray;   */
}

.item_shop {
    position: inherit;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 92%;
    margin: 20px;
    padding-right: -40px;
    /* padding-left: 40px; */
    /* background-color: gray; */
    /* flex-shrink: 0; */
    /* background-color: white; */
}

#flex_container_shop  input {
    /* align-self: flex-end; */
    align-items: center;
    /* margin: 210px; */
    /* background-color: white; */
    /* margin: auto; */
}

#home_footer {
    display: flex;
    background-color: white;
    width: 100%;
    height: 55vh;
    background-color: rgb(32, 178, 170);
    flex-direction: column;
    background-image:linear-gradient(to bottom, rgb(36, 155, 209), rgb(9, 60, 125));
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0.9;
}

#home_footer h1{
    margin: 10px;
    margin-bottom: -30px;
    color: white;
    margin: 20px;
    margin-top: 10px;
}


  

/* @keyframes primary {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

  @keyframes secondary {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
} */


/* #item4, #item5 {
    align-self: flex-end;
} */

/* p .item-container{
    flex-wrap: wrap;
} */

/* * { give me error for login popup
    box-sizing: border-box;
  } */

/* @media screen and (max-width: 400px) {
    .nav a {
      float: none;
      width: 100%;
    }
    .nav-right a {
        float: none;
        width: 100%;
    }
} */

/* @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
 */




/* .wrapper-center {
    margin-right: auto;
    margin-left: auto;
    max-width: 1160px;
    padding-right: 10px;
    padding-left: 10px;
    
} */